@model IEnumerable<ConsultaH.MVC.ViewModels.ExameViewModel>

@{
    ViewBag.Title = "Exames";
}

<h2>Exames</h2>

<p>
    @Html.ActionLink("Criar Novo Exame", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoExameID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoExame.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }, new { @class="btn btn-primary" }) &nbsp;
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }, new { @class = "btn btn-default" }) &nbsp;
            @Html.ActionLink("Excluir Exame", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
