@model IEnumerable<ConsultaH.MVC.ViewModels.ExameViewModel>

@{
    ViewBag.Title = "Exames";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 5);
}

<h2>Exames</h2>

<p>
    @Html.ActionLink("Criar Novo Exame", "Create", null, new { @class = "btn btn-primary" })
</p>

<br />

@grid.GetHtml(

    columns: new[] {
        grid.Column("Nome", header: "Nome do Exame"),
        grid.Column("Observacoes", header: "Observações"),
        grid.Column("TipoExame.Nome", header: "Tipo do Exame"),
        grid.Column( header: "Ações", format: @<text> @Html.ActionLink("Editar", "Edit", new { item.ID } , new { @class="btn btn-primary" }) &nbsp; @Html.ActionLink("Detalhes", "Details", new{ item.ID } , new {@class="btn btn-default" }) &nbsp; @Html.ActionLink("Remover", "Delete", new{ item.ID } , new {@class="btn btn-danger" })</text>)
},
htmlAttributes: new { @class = "table" }

)