@model ConsultaH.MVC.ViewModels.TipoExameViewModel

@{
    ViewBag.Title = "Deletar Tipo de Exame";
}

<h2>Deletar Tipo de Exame</h2>

<h3>Você tem certeza da remoção deste Tipo de Exame?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover Tipo de Exame" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para Tipo de Exames", "Index")
        </div>
    }
</div>
