@model ConsultaH.MVC.ViewModels.ConsultaViewModel

@{
    ViewBag.Title = "Editar Consulta";
}

<h2>Editar Consulta</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <h4><b>Selecione o Paciente para marcar consulta.</b></h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    <input type="text" id="Buscar" placeholder="Buscar Paciente" class="form-control" />
                </div>
            </div>

            <br /><br />
            <table class="table table-striped" style="margin-top:20px;">
                <thead>
                    <tr>
                        <th>Selecionar</th>
                        <th>Nome do Paciente</th>
                        <th>CPF do Paciente</th>
                    </tr>
                </thead>
                <tbody id="table">
                </tbody>
            </table>

            @Html.ValidationMessageFor(model => model.PacienteID, "", new { @class = "text-danger" })

            <div class="input-group" id="SemClienteBusca" style="display:none;">
                <span class="text-danger">Sua busca não resultou em nenhum paciente com este nome ou CPF, clique no botão abaixo para cadastrá-lo.</span><br />
                <div>@Html.ActionLink("Cadastrar Novo Paciente", "Create", "Pacientes", null, new { @class = "btn btn-primary cadastro-btn", @style = "margin-top:20px;" })</div>
            </div>

            <div class="input-group" id="SemCliente" style="display:none;">
                <span class="text-danger">Ainda não foi cadastrado nenhum paciente, clique no botão abaixo para cadastrar algum.</span><br />
                <div>@Html.ActionLink("Cadastrar Novo Paciente", "Create", "Pacientes", null, new { @class = "btn btn-primary cadastro-btn", @style = "margin-top:20px;" })</div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <p><b>Tipo do Exame</b></p>
                <div>
                    @Html.DropDownList("TipoExameID", null, "Selecionar Tipo de Exame", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoExameID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="ExamePeloTipo" style="display:none;">
            <div class="form-group">
                <div class="input-group">
                    <p><b>Exame</b></p>
                    <div>
                        <select class="form-control" id="ExameID" name="ExameID">                            
                        </select>

                        @Html.ValidationMessageFor(model => model.ExameID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p><b>Horário da Consulta</b></p>
            <div>
                @Html.EditorFor(model => model.Horario, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.Horario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Editar Consulta" class="btn btn-primary" style="margin-top:30px; margin-bottom:30px;" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para Consultas", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/consulta-validation")

    
}
