@model IEnumerable<ConsultaH.MVC.ViewModels.PacienteViewModel>

@{
    ViewBag.Title = "Pacientes";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 5);
}

<h2>Pacientes</h2>

<p>
    @Html.ActionLink("Cadastrar Paciente", "Create", null, new { @class = "btn btn-primary" })
</p>

<br />

@grid.GetHtml(

    columns: new[] {
        grid.Column("Nome", header: "Nome do paciente"),
        grid.Column("CPF", header: "CPF"),
        grid.Column("DataNascimento", header: "Data de Nascimento", format:@<text> @item.DataNascimento.ToString("dd/MM/yyyy") </text>),
        grid.Column("Sexo", header: "Sexo"),
        grid.Column("Telefone", header: "Telefone"),
        grid.Column("Email", header:"E-mail"),
        grid.Column( header: "Ações", format: @<text> @Html.ActionLink("Editar", "Edit", new { item.ID } , new { @class="btn btn-primary" }) &nbsp; @Html.ActionLink("Detalhes", "Details", new{ item.ID } , new {@class="btn btn-default" }) &nbsp; @Html.ActionLink("Remover", "Delete", new{ item.ID } , new {@class="btn btn-danger" })</text>)
    },
    htmlAttributes: new { @class = "table" }

)